%h2.text-center.mb-4 チーム詳細

.row.justify-content-center
  .col-md-8
    %table.table.table-bordered.w-100
      %tbody
        %tr
          %th.text-center.w-25 チーム名
          %td= @team.name
        - if @team.users.exists?
          %tr
            %th.text-center.w-25 チームメンバー一覧
            %td
              - @team.users.default_order.each do |user|
                = user.name

    .text-center
      .mb-3
        = link_to 'チームへ招待する', new_admins_team_team_invitation_path(@team), class: 'btn btn-link'
      .mb-3
        = link_to '一覧に戻る', admins_teams_path, class: 'btn btn-outline-secondary me-2'
        = link_to '編集する', edit_admins_team_path(@team), class: 'btn btn-outline-warning me-2'
        = button_to '削除する',
                    admins_team_path(@team),
                    method: :delete,
                    data: { turbo_confirm: '本当に削除しますか？' },
                    form: { class: 'd-inline' },
                    class: 'btn btn-outline-danger'
