%h2.text-center.mb-4 ユーザー詳細

.row.justify-content-center
  .col-md-8
    %table.table.table-bordered.w-100
      %tbody
        %tr
          %th.text-center.w-25 ユーザー名
          %td= @user.name
        %tr
          %th.text-center.w-25 メールアドレス
          %td= @user.email
        %tr
          %th.text-center.w-25 作成日
          %td= l(@user.created_at, format: :date)
        %tr
          %th.text-center.w-25 所属チーム
          %td= @user.team.name

    .text-center
      .mb-3
        = link_to '一覧に戻る', admins_users_path, class: 'btn btn-outline-secondary me-2'
        = button_to '削除する',
                    admins_user_path(@user),
                    method: :delete,
                    data: { turbo_confirm: '本当に削除しますか？' },
                    form: { class: 'd-inline' },
                    class: 'btn btn-outline-danger'
