.row.justify-content-center
  .col-md-6
    .text-center
      - if @team.logo.attached?
        = image_tag @team.logo.variant(:thumb), class: 'rounded-circle mb-3'

      %h2.fw-bold.mb-5= @team.name

      = link_to 'タスクを作成する', new_users_team_task_path, class: 'btn btn-outline-secondary btn-sm mb-3'

      %h4.mb-3 タスク一覧
      - if @team.tasks.exists?
        - @team.tasks.default_order.each do |task|
          = link_to users_team_task_path(task), class: 'text-decoration-none' do
            .card.shadow-sm.mb-4
              .card-body.py-3
                %h5.card-title.fw-semibold.mb-2= task.title
                %p.mb-1= h(task.description)
      - else
        %p タスクがありません。
